<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
        <menuitem id="is_glpi_main_menu"   sequence="1"  name="GLPI"/>
        <menuitem id="is_glpi_menu"        sequence="10" name="GLPI"         parent="is_glpi_main_menu"/>
        <menuitem id="is_utilisateur_menu" sequence="10" name="Utilisateurs" parent="is_glpi_menu" action="is_utilisateur_action" />
        <menuitem id="is_ordinateur_menu"  sequence="20" name="Ordinateurs"  parent="is_glpi_menu" action="is_ordinateur_action" />
        <menuitem id="is_action_menu"      sequence="30" name="Actions"      parent="is_glpi_menu" action="is_action_action" />
    </data>
</openerp>

